@use 'sass:color';

input::placeholder,
textarea::placeholder {
  color: color.scale($color-white, $lightness: -30%);
}

.contact__info,
.contact__form {
  > p {
    // TODO: SASS * isn't translating properly
    // color: $font-color-primary * 0.8;
    color: color.scale($font-color-primary, $lightness: -20%);
    font-size: $font-size-body * 0.8;
    margin-bottom: $margin-mobile;
    // TODO: Chagne? Breaking design standard -- but contact section feels too cramped!
    margin-bottom: 2rem;
  }

  @include breakpoint(md) {
    > p {
      font-size: $font-size-body;
      margin-bottom: $margin-desktop;
      // TODO: Chagne? Breaking design standard -- but contact section feels too cramped!
      margin-bottom: 3rem;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  // TODO: Keep this? I prefer this on mobile, but seems frowned upon!
  text-align: justify;

  @include breakpoint(md) {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    text-align: left;
  }

  h6 {
    font-size: $font-size-subheading;
    margin-bottom: $margin-mobile;

    @include breakpoint(md) {
      font-size: 2rem;
    }
  }

  // Row of icons with gap between them
  .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  //
  .social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: $circle;
  }

  a:hover {
    background-color: $color-white;
  }
  a svg {
    fill: $color-white;
    width: 65%;
    height: 65%;
  }
  a:hover svg {
    fill: $color-primary;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include breakpoint(md) {
      flex: 0 0 48%;
      padding-bottom: 75px;
    }

    address {
      // Remove ugly italics!
      font-style: normal;
    }

    a {
      color: inherit;
    }

    a:hover {
      color: $color-primary;
    }

    .contact__details {
      font-size: $font-size-body * 0.9;
      margin-top: $margin-mobile;

      // TODO: Do I want to keep this pushed to bottom, to align with the form?
      // margin-top: auto;

      > *:not(:last-child) {
        margin-bottom: $margin-mobile;
      }
    }
  }

  .contact__detail {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;

    svg,
    img {
      color: $color-primary;
      width: 20px;
      aspect-ratio: 1.25;
    }

    p,
    a {
      transition: 0.3s ease-in-out;

      &:hover {
        transform: translateX(0.25rem);
      }
    }
  }

  &__form {
    @include breakpoint(md) {
      flex: 0 0 48%;
    }

    // TODO: Use class, since might not always be an h5
    h5 {
    }

    .form__row {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      gap: 1.5rem;

      @include breakpoint(sm) {
        flex-direction: row;
        justify-content: space-around;

        > * {
          flex-basis: 100%;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.75rem;

      input {
        height: 50px;
        border-radius: $subtle;
        color: $color-white;
        background-color: var(--clr-background);
        border: none;
        border: 3px solid $color-primary;
        padding-left: 1rem;
      }

      textarea {
        border-radius: $subtle;
        color: $color-white;
        background-color: var(--clr-background);
        border: 3px solid $color-primary;
        padding-left: 1rem;
        padding-top: 1rem;
      }
    }
  }
}
