@use 'sass:color';

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include breakpoint(md) {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }
}

.education,
.skills {
  // flex-basis: 100%;
}

.skills {
  &__header {
    font-size: $font-size-subheading;
    font-weight: $font-weight-heading;
  }

  &__subheader {
  }

  &__list {
    margin-block: 1rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.skill {
  // TODO: Figure out design and color scheme of a Skill
  // Red background with white font isn't enough contras, but I like!
  color: $color-white;
  // background-color: $color-primary-dark * 1.2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  // TODO: SASS * isn't translating properly
  // background-color: $color-red * 0.84;
  background-color: color.scale($color-red, $lightness: -16%);
  background-color: #d6385d;

  // background-color: var(--clr-text);
  // TODO: Make these multiplied colors their own variable,
  // as CSS variables don't allow these calculations
  // background-color: var(--clr-background);
  padding: 0.2rem 1rem;
  border-radius: $rounded;
  font-weight: $font-weight-heading;
}

.experience {
  &__header {
    margin-bottom: $margin-desktop;

    &::before,
    &::after {
      @include breakpoint(md) {
        content: '';
        display: inline-block;
        border-top: 0.25rem solid $color-red;
        width: 1rem;
        margin: 0 1rem;
        transform: translateY(-0.8rem);
        width: 5rem;
      }
    }
  }

  .date {
    // TODO: SASS * isn't translating properly
    // color: $font-color-primary * 0.75;
    color: color.scale($font-color-primary, $lightness: -20%);
  }

  .header {
    font-size: $font-size-subheading;
  }

  .description {
  }

  img {
    width: 1.75rem;
    aspect-ratio: 1.25;
    position: absolute;
    top: 1px;
    left: -1.75rem;
    padding: 0.1rem 0.1rem 0.2rem 0.1rem;
    background-color: var(--clr-background);

    @include breakpoint(md) {
      width: 2rem;
      left: -2.5rem;
    }
  }
  ul {
    // TODO: Do this in a ::before or ::after instead?
    // border-left: 5px solid $color-red;
    // padding-left: 1ch;
    margin-left: 2ch;
  }

  li {
    position: relative;
    list-style-type: none;
  }

  // Bottom padding on every timeline item besides the last
  li:not(:last-child) {
    padding-bottom: 3rem;
  }

  // Vertical timeline line
  li::before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 2px;
    width: 2px;
    height: calc(100% - 4px);
    background: $color-red;

    @include breakpoint(md) {
      left: -1.5rem;
    }
  }
}
