.footer {
  padding: 2rem $margin-mobile;
  text-align: center;
  //   background-color: red * 0.1;

  // Row of icons with gap between them
  .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  }

  //
  .social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}

.hero a:hover,
.footer a:hover {
  background-color: $color-white;
}

.hero a svg,
.footer a svg {
  fill: $color-white;
  width: 65%;
  height: 65%;
}

.hero a:hover svg,
.footer a:hover svg {
  fill: $color-red;
}

.footer .footer__copyright span:nth-child(2) {
  color: $color-red;
}

.hero a svg,
.footer a svg {
  fill: $color-white;
  width: 65%;
  height: 65%;
}

.hero a:hover svg,
.footer a:hover svg {
  fill: $color-red;
}

.footer .footer__copyright span:nth-child(2) {
  color: $color-red;
}
