.footer {
  padding: 2rem $margin-mobile;
  text-align: center;

  // Row of icons with gap between them
  .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  a:hover {
    background-color: $color-white;
  }

  a svg {
    fill: $color-white;
    width: 65%;
    height: 65%;
  }

  a:hover svg {
    fill: $color-red;
  }

  &__copyright span:nth-child(2) {
    color: $color-red;
  }
}
