
.main-nav {
  overflow: hidden;

  @include breakpoint(md) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main-nav .hamburger {
  display: none;
}

.main-nav a:hover {
  background-color: $color-red;
  color: white;
}

@media screen and (max-width: 600px) {
  .main-nav a:not(:first-child), 
  .links {
    display: none;
  }

  .main-nav a.hamburger {
    float: right;
    display: block;
  }

  .main-nav.responsive {
    position: relative;
  }

  .main-nav.responsive .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }

  .main-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}






.header {
  // background-color: red * 0.1;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;

  &__logo {
  }
}

nav {
  ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
  }

  li {
    position: relative;
  }

  li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    display: block;
    margin-top: 4px;
    right: 0;
    background: $color-red;
    transition: width 0.2s ease;
  }

  li:hover::after {
    width: 100%;
    left: 0;
  }
}
