@use 'sass:color';

header {
  // background-color: color.change($color-primary-dark, $alpha: 1);
  background-color: var(--clr-background);
  position: fixed;
  width: 100%;
  z-index: 100;

  @include breakpoint(md) {
    padding-inline: 1rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text); //white;

  // Using &__logo seems to give a specificity of 0 -- thus the global anchor style overtakes -- why?!
  .navbar__logo {
    font-family: 'Merriweather', serif;
    color: color.scale($color-primary, $lightness: 0%);
    font-size: 1.5rem;
    margin: 0.5rem;

    // Use these values if I have image for nav logo
    width: 50px;
    height: 50px;
    background-color: $color-primary;
    border-radius: $circle;

    img {
      width: 100%;
    }
    // End of values for image
  }

  &__links {
  }

  &__links ul {
    display: flex;
    gap: 2rem;
  }

  &__links li {
    list-style: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      display: block;
      margin-top: 4px;
      right: 0;
      background: $color-primary;
      transition: width 0.2s ease;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }

  &__links li a {
    text-decoration: none;
    // color: white;
    color: var(--clr-text);
    padding: 0.25rem;
    display: block;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    display: none;
    // Increase hamburger size, fix alignment caused line-height quirks
    font-size: 1.5rem;
    line-height: 1.5rem;
    // Make it more click-able!
    padding: 0.25rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    &__links {
      display: none;

      width: 100%;
    }

    &__links ul {
      width: 100%;
      flex-direction: column;
      gap: 0;
    }

    &__links li {
      text-align: center;

      &:hover {
        background-color: $color-primary;
      }

      &::after {
        content: '';
        width: 0;
        height: 0;
      }

      &:hover::after {
        width: 0;
        height: 0;
      }
    }

    &__links li a {
      padding: 0.25rem 0.5rem;
    }

    &__links.active {
      display: flex;
      // Sass * is dep!
      // background-color: $color-primary-dark * 0.9;
      background-color: darken($color-primary-dark, 0.9);
    }

    .hamburger {
      display: inline-block;
    }
  }
}
