.projects {
  // Removing section paddings
  padding-inline: $margin-mobile;
  margin: 0 auto;
  max-width: unset;
  @include breakpoint(md) {
    padding-inline: $margin-desktop;
  }

  &__header {
    &::before,
    &::after {
      content: '';
      display: inline-block;
      border-top: 0.25rem solid $color-red;
      width: 5rem;
      margin: 0 1rem;
      transform: translateY(-0.8rem);
    }
  }

  &__subheader {
    margin-block: 1rem;

    @include breakpoint(md) {
      font-size: $font-size-subheading;
    }

    span {
      color: $color-red;
    }

    display: flex;
    justify-content: space-between;
  }

  &__grid {
    display: grid;
    // On mobile, singular column of projects
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 2rem;

    @include breakpoint(md) {
      grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }

    .project {
      height: 350px;
      border-radius: $subtle;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: $color-red;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: 0.3s ease-in-out;
      position: relative;

      &__overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-primary-dark * 0.8;
        border-radius: $subtle;
        transition: 0.5s ease-in-out;
        border: 2px solid $color-red;
        padding-block: 0.5rem;
      }

      &:focus,
      &:hover {
        transform: scale(1.05);
      }

      &:focus .project__overlay,
      &:hover .project__overlay {
        opacity: 1;
      }

      &:nth-of-type(1) {
        background-image: url(../images/preview-flat-ui-clone.png);
      }
      &:nth-of-type(2) {
        // background-image: url(../images/preview-fylo.png);
        background-image: url(../images/preview-social-proof-section.png);
      }
      &:nth-of-type(3) {
        background-image: url(../images/preview-react-recipes.png);
      }
      &:nth-of-type(4) {
        background-image: url(../images/preview-dad-jokes.png);
      }
      &:nth-of-type(5) {
        background-image: url(../images/preview-stock-forum.png);
      }
      &:nth-of-type(6) {
        background-image: url(../images/preview-personal-portfolio.png);
      }

      &__header {
        font-size: $font-size-subheading;
      }

      &__description {
        font-size: $font-size-body * 0.85;
        padding: $margin-mobile;

        @include breakpoint(md) {
          font-size: $font-size-body;
          padding: $margin-desktop;
        }
      }

      &__buttons {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        display: flex;
        gap: $margin-desktop;
      }
    }
  }
}
