@use 'sass:color';

.projects {
  // Removing section paddings
  // padding-inline: $margin-mobile;
  // padding: 0;
  margin: 0 auto;
  // max-width: unset;

  // @include breakpoint(md) {
  //   padding-inline: $margin-desktop;
  // }

  &__header {
    @include breakpoint(md) {
      padding-inline: $margin-desktop;
    }

    &::before,
    &::after {
      @include breakpoint(md) {
        content: '';
        display: inline-block;
        border-top: 0.25rem solid $color-primary;
        width: 1rem;
        margin: 0 1rem;
        transform: translateY(-0.8rem);
        width: 5rem;
      }
    }
  }

  .projects__more {
    color: $color-primary;
    font-size: $font-size-body * 1;
    margin-top: 1rem;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__subheader {
    display: flex;
    justify-content: space-between;
    margin-block: 1rem;

    @include breakpoint(md) {
      font-size: $font-size-subheading;
      padding-inline: $margin-desktop;
    }

    // The arrow
    span {
      color: $color-primary;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;

    .project {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      @include breakpoint(md) {
        gap: 5rem;
      }

      &__preview {
        flex-basis: 55%;

        img {
          border-radius: $rounded;
          object-fit: cover;
          max-height: 300px;

          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);

          @include breakpoint(md) {
            max-height: unset;
          }
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        align-items: flex-start;
        align-self: center;
        gap: 1.5rem;

        .skills {
        }
      }

      &:focus,
      &:hover {
        // transform: scale(1.05);
      }

      &:nth-of-type(even) {
        @include breakpoint(md) {
          flex-direction: row-reverse;
        }
      }

      &__header {
        font-size: $font-size-subheading;
        // font-size: $font-size-subheading * 1.25;
      }

      &__description {
        font-size: $font-size-body;

        @include breakpoint(md) {
          font-size: $font-size-body;
          // padding: $margin-desktop;
        }
      }

      &__buttons {
        display: flex;
        gap: $margin-desktop;
        justify-content: center;
      }

      @include breakpoint(md) {
        flex-direction: row;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0.5rem;

    font-size: $font-size-body * 0.75;
    margin-block: 3rem 0;
    text-align: left;
    text-align: center;

    @include breakpoint(md) {
      flex-direction: row;
      text-align: left;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 10rem;
      font-size: $font-size-body;
    }

    h2 {
      font-family: $font-family-body;
      font-size: $font-size-subheading * 0.75;
      text-align: inherit;

      @include breakpoint(md) {
        font-size: $font-size-subheading;
      }
    }

    // The "Hire Me" CTA
    a {
      margin: 0;
      font-size: $font-size-body * 0.75;
    }

    // TODO: Do I like this styling?!
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    border-top: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
  }
}
