@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

/* 
Tentative Color Scheme #1
#1E1E24
#E05263
#5F758E
#E1DEE9
#477998
#2AF5FF instead of other blues?
*/

:root {
  --color-primary-dark: #1e1e24;
  --color-red: #f02446;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #ff0057;
  color: white;
  text-decoration: underline;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
  stroke-width: 5px;
}

img {
  width: 100%;
}

html {
  /* scroll-snap-type: y mandatory; */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/* hide scrollbar but allow scrolling */
/* body,
.snap-mandatory {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
body::-webkit-scrollbar,
.snap-mandatory::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary-dark);
  color: #e1dee9;
  /* padding: 2rem; */
}

/* Scroll-Snapping Stuff */
.snap-mandatory {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/* Snap utlity functions */
.snap-start {
  scroll-snap-align: start;
}

.snap-center {
  scroll-snap-align: center;
}

.snap-end {
  scroll-snap-align: end;
}

header {
  font-size: 2rem;
  text-align: center;
}

#header-main {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

#navbar-main ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  justify-content: flex-end;
}

#navbar-main a:link,
#navbar-main a:visited {
  color: #e1dee9;
  text-decoration: none;
}

#navbar-main a:hover {
  transform: scale(1.5);
  color: pink;
}

#navbar-main a:active {
}

@keyframes shrink-grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes rainbow-text {
  from {
    color: #2af5ff;
  }

  to {
    color: violet;
  }
}

#particles-js {
  position: relative;
  height: 100vh;
  width: 100%;
}

main {
  /* background: linear-gradient(to top left, var(--color-primary-dark) 50%, #e05263 100%); */
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Particle */
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  min-height: calc(100vh - 50px);
}

main header {
  width: 650px;
  text-transform: uppercase;
  padding-top: 5rem;
}

main h1 {
}

main #name_span--first {
  font-size: 7.5rem;
  color: #a2d2ff;
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0.8;

  /* background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  ); */
  /* background: linear-gradient(
    260deg,
    #f72585 30%,
    #7209b7 50%,
    #ffe1a8 70%,
    #4361ee 94%
  ); */
  background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Blues: #669bbc  007ea7*/
main #name_span--last {
  font-size: 7rem;
  background: #a2d2ff;
  color: var(--color-primary-dark);
  display: inline-block;
  padding: 0 1rem;
  border-radius: 5px;

  line-height: 1;
  /* animation: rainbow-text 2s alternate infinite forwards; */

  background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

main #subtitle {
  text-align: center;
}

main #subtitle_span-adjective {
  left: 0;
  color: #e05263;
}

.avatar-card {
  position: relative;
  /* height: 450px;
  width: 400px; */
  width: 200px;
  height: 225px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-top: 2rem;
}

.avatar-card img {
  position: absolute;
  backface-visibility: hidden;
  transition: 1s ease-in;
  border-radius: 50%;
}

.avatar-card img:nth-child(2) {
  transform: rotateY(180deg);
  filter: hue-rotate(0deg);
}

.avatar-card:hover img:nth-child(1) {
  /* transform-origin: -50%; */
  transform: rotateY(-180deg);
}

.avatar-card:hover img:nth-child(2) {
  /* transform-origin: -50%; */
  transform: rotateY(0deg);
  filter: hue-rotate(360deg);
}

#projects {
  min-height: 100vh;
  scroll-snap-align: start;
  /* background-color: var(--color-red); */
  background-color: var(--color-primary-dark);
}

#projects .projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

#projects .project-card {
  padding: 1rem;
  width: 600px;
  aspect-ratio: 16/9;
  cursor: pointer;
  border-radius: 10px;
  background-color: #27272e /* #1e1e24; */;
  box-shadow: 0 5px 5px rgba(255, 0, 0, 0.2);
}

#projects #project--flat-ui {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.6)
    ),
    url("images/preview-flat-ui-clone.png");
  background-size: cover;
}

#projects #project--fylo {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.6)
    ),
    url("images/preview-fylo.png");
  background-size: contain;
}

#projects .project-card:nth-of-type(1):hover {
  box-shadow: 0 8px 10px rgba(255, 0, 0, 0.5);
}

#projects .project-card:nth-of-type(2) {
  box-shadow: 0 5px 5px rgba(0, 255, 0, 0.2);
}

#projects .project-card:nth-of-type(2):hover {
  box-shadow: 0 8px 10px rgba(0, 255, 0, 0.5);
}

#projects .project-card:nth-of-type(3) {
  box-shadow: 0 5px 5px rgba(0, 0, 255, 0.2);
}

#projects .project-card:nth-of-type(3):hover {
  box-shadow: 0 8px 10px rgba(0, 0, 255, 0.5);
}

#projects .project-card:nth-of-type(4) {
  box-shadow: 0 5px 5px rgba(252, 248, 5, 0.2);
}

#projects .project-card:nth-of-type(4):hover {
  box-shadow: 0 8px 10px rgba(252, 248, 0, 0.5);
}

#projects .project-card .project-header {
  font-size: 2rem;
}

#projects .project-card .project-body {
  font-size: 1rem;
}

#toolkit {
  min-height: 100vh;
}

#toolkit header {
  padding-top: 2rem;
}

#toolkit .tools-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#toolkit .tools-container a {
}

#toolkit .tools-container img {
  width: 150px;
  transition: 0.1s ease-in;
}

#toolkit .tools-container img:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}

/* Contact Me - Section */
#contact {
  min-height: 100vh;
  /* background-color: #5a189a; */
  /* #a4133c; */
  /* #e05263; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact header {
  font-size: 3rem;

  /* Adjust for curve */
  margin-top: 2rem;
}

/* Flippable Card - Frontside is form, backside is Thank You message */
.flippable-form {
  position: relative;
  width: 600px;
  height: 600px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-top: 2rem;
  /* background-color: rgba(27, 27, 50, 0.8); */
  /* transition: 1s ease-in; */
}

.flippable-form > form,
.flippable-form > div {
  position: absolute;
  backface-visibility: hidden;
  transition: 1s ease-in;
  width: 600px;
  height: 600px;
  background-color: rgba(27, 27, 50, 0.8);
}

.flippable-form > div {
  transform: rotateY(180deg);
}

.flippable-form:hover > form {
  transform: rotateY(-180deg);
}

.flippable-form:hover > div {
  transform: rotateY(0deg);
}

/* Contact Me Form */
form {
  /* display: flex;
  flex-direction: column;
  width: 40vw; */
  /* justify-content: center; */
  padding: 30px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

label {
  margin-bottom: 10px;
}

#name-group,
#email-group,
#message-group {
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

#submit {
  width: 100%;
  height: 3rem;
  color: white;
  background-color: #37af65;
  outline: none;
}

#submit:focus {
  outline: none;
}
/* Footer - Section */
footer {
  text-align: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.reveal {
  position: relative;
  transform: translateX(-100vw);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

#projects {
  min-height: 88vh;
}

#toolkit {
  position: relative;
  min-height: 88vh;
}

#contact {
  position: relative;
  min-height: 88vh;
}

.wave,
.wave-contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* transform: translateY(-50%); */
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 75px;
}

.wave .shape-fill {
  fill: #0f0f10;
  fill: var(--color-primary-dark);
}

.wave-contact {
  fill: var(--color-primary-dark);
}

#toolkit svg {
  color: var(--color-red);
}

#toolkit svg path {
  /* This will color the svg the same as its parent */
  fill: currentColor !important;
}

#footer {
  padding: 2rem;
}

#footer .socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

#hero .socials {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.socials .social-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#hero .socials .social-link {
  width: 4.5rem;
  height: 4.5rem;
}

#hero a:hover,
#footer a:hover {
  background-color: white;
}

#hero a svg,
#footer a svg {
  fill: white;
  width: 65%;
  height: 65%;
}

#hero a:hover svg,
#footer a:hover svg {
  fill: var(--color-red);
}

#footer .footer__copyright span:nth-child(2) {
  color: var(--color-red);
}

.header-prefix,
.header-suffix {
  color: var(--color-red);
  margin: 0 0.5rem;
}

@media screen and (max-width: 600px) {
  main #name_span--first {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  main #name_span--last {
    font-size: 3rem;
  }

  h2 {
    font-size: 1rem;
  }
}

/* TEST FORM  */

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
